#SMTP Mail
MAIL_USER=
MAIL_PASS=
MAIL_SMTP=sandbox.smtp.mailtrap.io
MAIL_PORT=2525

#Infos générales
USER_NAME=
USER_EMAIL=

#Base de données
BDD_USER = root
BDD_PASS =
BDD_DSN = mysql:host=localhost;dbname=portfolio

# Dossier où se situe les images des projets
FOLDER_PROJECT=imgs/